<div class="configuration-detail">
  <h1 class="text-primary">{{ 'configurationDetail' | translate }}</h1>
  <h2 class="text-primary">
    id: <span class="text-secondary">{{ id }}</span>
  </h2>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <p class="text-secondary">xxxx-xxx-xxx-xx-xx-xx-xx-x</p>
  <a class="text-primary" [routerLink]="['/users/configuration']"> Go to config</a>
</div>
